<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fa_slot_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,610},{179,149}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,158}</string>
			</dict>
			<key>fa_slot_bonus_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,285},{179,155}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,158}</string>
			</dict>
			<key>fa_slot_cai.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,913},{114,108}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,144}</string>
			</dict>
			<key>fa_slot_cai_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1},{114,117}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,144}</string>
			</dict>
			<key>fa_slot_drum.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,1},{139,282}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,288}</string>
			</dict>
			<key>fa_slot_drum_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,611},{139,300}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,316}</string>
			</dict>
			<key>fa_slot_fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,566},{117,115}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,144}</string>
			</dict>
			<key>fa_slot_fa_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,896},{116,125}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,144}</string>
			</dict>
			<key>fa_slot_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,791},{169,149}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,158}</string>
			</dict>
			<key>fa_slot_free_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1},{169,158}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,158}</string>
			</dict>
			<key>fa_slot_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,466},{142,142}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,144}</string>
			</dict>
			<key>fa_slot_gold_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,466},{142,154}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,158}</string>
			</dict>
			<key>fa_slot_gong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,913},{116,108}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,144}</string>
			</dict>
			<key>fa_slot_gong_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,446},{115,118}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,144}</string>
			</dict>
			<key>fa_slot_gourd.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,611},{140,283}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,288}</string>
			</dict>
			<key>fa_slot_gourd_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,307},{141,302}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,316}</string>
			</dict>
			<key>fa_slot_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,317},{140,131}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,144}</string>
			</dict>
			<key>fa_slot_money_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,172},{140,143}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,158}</string>
			</dict>
			<key>fa_slot_ruyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,285},{137,281}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,288}</string>
			</dict>
			<key>fa_slot_ruyi_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{141,304}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,316}</string>
			</dict>
			<key>fa_slot_wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,770},{157,153}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,158}</string>
			</dict>
			<key>fa_slot_wild_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,610},{157,158}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,158}</string>
			</dict>
			<key>fa_slot_xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,1},{112,117}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,144}</string>
			</dict>
			<key>fa_slot_xi_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,317},{112,127}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,144}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fa_slot_items.png</string>
			<key>realTextureFileName</key>
			<string>fa_slot_items.png</string>
			<key>size</key>
			<string>{710,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>710</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>