<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/10ebnew/tu/tb_10eb.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,1},{154,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,38}</string>
			</dict>
			<key>Animation/10ebnew/tu/tb_zmcz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{105,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist-10ebnew.png</string>
			<key>realTextureFileName</key>
			<string>Plist-10ebnew.png</string>
			<key>size</key>
			<string>{263,88}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>263</integer>
			<key>height</key>
			<integer>88</integer>
		</dict>
	</dict>
</plist>