<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/poker/blackheart_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,259},{80,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,83}</string>
			</dict>
			<key>common/poker/blackheart_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,1},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>common/poker/card_back_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,259},{161,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,229}</string>
			</dict>
			<key>common/poker/card_back_b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,259},{161,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,229}</string>
			</dict>
			<key>common/poker/card_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1},{161,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,223}</string>
			</dict>
			<key>common/poker/card_front1_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1},{161,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,223}</string>
			</dict>
			<key>common/poker/card_front2.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,259},{161,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,223}</string>
			</dict>
			<key>common/poker/flower_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,174},{82,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,83}</string>
			</dict>
			<key>common/poker/flower_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,37},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>common/poker/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{195,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,256}</string>
			</dict>
			<key>common/poker/poker1.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,259},{90,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,187}</string>
			</dict>
			<key>common/poker/poker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1},{90,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,187}</string>
			</dict>
			<key>common/poker/puke_zz.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,259},{153,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,223}</string>
			</dict>
			<key>common/poker/redblock_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,344},{66,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,85}</string>
			</dict>
			<key>common/poker/redblock_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,484},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>common/poker/redheart_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,174},{78,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,75}</string>
			</dict>
			<key>common/poker/redheart_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,226},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>common/poker/tb_joker.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,484},{53,26}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,37}</string>
			</dict>
			<key>common/poker/num/b_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,470},{38,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,54}</string>
			</dict>
			<key>common/poker/num/b_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,226},{31,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,53}</string>
			</dict>
			<key>common/poker/num/b_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,226},{31,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,53}</string>
			</dict>
			<key>common/poker/num/b_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,476},{34,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,53}</string>
			</dict>
			<key>common/poker/num/b_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,226},{31,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,53}</string>
			</dict>
			<key>common/poker/num/b_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,454},{32,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,53}</string>
			</dict>
			<key>common/poker/num/b_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,226},{31,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,53}</string>
			</dict>
			<key>common/poker/num/b_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,455},{33,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,53}</string>
			</dict>
			<key>common/poker/num/b_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,254},{33,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,53}</string>
			</dict>
			<key>common/poker/num/b_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,344},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>common/poker/num/b_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,476},{35,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,53}</string>
			</dict>
			<key>common/poker/num/b_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,432},{36,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,59}</string>
			</dict>
			<key>common/poker/num/b_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,431},{37,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,53}</string>
			</dict>
			<key>common/poker/num/r_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,470},{38,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,54}</string>
			</dict>
			<key>common/poker/num/r_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,226},{31,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,53}</string>
			</dict>
			<key>common/poker/num/r_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,226},{31,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,53}</string>
			</dict>
			<key>common/poker/num/r_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,476},{34,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,53}</string>
			</dict>
			<key>common/poker/num/r_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,226},{31,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,52}</string>
			</dict>
			<key>common/poker/num/r_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,309},{33,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,53}</string>
			</dict>
			<key>common/poker/num/r_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,226},{31,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,52}</string>
			</dict>
			<key>common/poker/num/r_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,344},{33,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,53}</string>
			</dict>
			<key>common/poker/num/r_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,399},{33,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,53}</string>
			</dict>
			<key>common/poker/num/r_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,400},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>
			<key>common/poker/num/r_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,455},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>
			<key>common/poker/num/r_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,470},{36,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,59}</string>
			</dict>
			<key>common/poker/num/r_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,432},{36,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,52}</string>
			</dict>
			<key>common/poker/num/t_joker1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,484},{19,95}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,114}</string>
			</dict>
			<key>common/poker/num/t_joker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,484},{19,95}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,114}</string>
			</dict>
			<key>common/poker/card_front1.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1},{161,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,223}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>poker.png</string>
			<key>realTextureFileName</key>
			<string>poker.png</string>
			<key>size</key>
			<string>{932,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>932</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>