<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/tu/paoma10/101_dh_saima3721-grey_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,202},{302,206}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,208}</string>
			</dict>
			<key>Animation/tu/paoma10/101_dh_saima3721-grey_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,202},{302,204}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,208}</string>
			</dict>
			<key>Animation/tu/paoma10/101_dh_saima3721-grey_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,408},{301,202}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,208}</string>
			</dict>
			<key>Animation/tu/paoma10/101_dh_saima3721-grey_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,406},{307,200}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,208}</string>
			</dict>
			<key>Animation/tu/paoma10/101_dh_saima3721-grey_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,1},{312,199}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,208}</string>
			</dict>
			<key>Animation/tu/paoma10/101_dh_saima3721-grey_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{318,199}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,208}</string>
			</dict>
			<key>Animation/tu/paoma10/101_dh_saima3721-grey_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1},{312,200}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,208}</string>
			</dict>
			<key>Animation/tu/paoma10/101_dh_saima3721-grey_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,203},{306,201}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,208}</string>
			</dict>
			<key>Animation/tu/paoma10/101_dh_saima3721-grey_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,410},{300,203}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,208}</string>
			</dict>
			<key>Animation/tu/paoma10/101_dh_saima3721-grey_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,608},{297,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,208}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist-grey.png</string>
			<key>realTextureFileName</key>
			<string>Plist-grey.png</string>
			<key>size</key>
			<string>{948,813}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>948</integer>
			<key>height</key>
			<integer>813</integer>
		</dict>
	</dict>
</plist>