<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>props/teatime/001.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,296},{10,7}}</string>
				<key>offset</key>
				<string>{3,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,25}</string>
			</dict>
			<key>props/teatime/002.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,227},{14,13}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,25}</string>
			</dict>
			<key>props/teatime/003.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,163},{15,20}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,25}</string>
			</dict>
			<key>props/teatime/004.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,355},{15,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,25}</string>
			</dict>
			<key>props/teatime/004_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,355},{15,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,25}</string>
			</dict>
			<key>props/teatime/005.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,419},{13,24}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,25}</string>
			</dict>
			<key>props/teatime/006.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,163},{11,22}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,25}</string>
			</dict>
			<key>props/teatime/007.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,296},{9,16}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,25}</string>
			</dict>
			<key>props/teatime/008.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,296},{9,10}}</string>
				<key>offset</key>
				<string>{3,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,25}</string>
			</dict>
			<key>props/teatime/16_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,355},{16,34}}</string>
				<key>offset</key>
				<string>{-5,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,227},{20,39}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,148},{21,42}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,222},{22,44}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,197},{23,45}}</string>
				<key>offset</key>
				<string>{-5,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,148},{24,47}}</string>
				<key>offset</key>
				<string>{-5,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,343},{26,49}}</string>
				<key>offset</key>
				<string>{-5,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1},{28,51}}</string>
				<key>offset</key>
				<string>{-5,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1},{29,53}}</string>
				<key>offset</key>
				<string>{-6,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,60},{31,56}}</string>
				<key>offset</key>
				<string>{-6,23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1},{34,57}}</string>
				<key>offset</key>
				<string>{-5,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,109},{37,58}}</string>
				<key>offset</key>
				<string>{-5,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,66},{41,60}}</string>
				<key>offset</key>
				<string>{-5,31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,249},{44,60}}</string>
				<key>offset</key>
				<string>{-4,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,1},{47,63}}</string>
				<key>offset</key>
				<string>{-4,37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,163},{48,62}}</string>
				<key>offset</key>
				<string>{-3,39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,374},{49,63}}</string>
				<key>offset</key>
				<string>{-3,42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,440},{53,64}}</string>
				<key>offset</key>
				<string>{-3,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,440},{55,64}}</string>
				<key>offset</key>
				<string>{-2,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,374},{57,64}}</string>
				<key>offset</key>
				<string>{-1,48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,308},{58,64}}</string>
				<key>offset</key>
				<string>{0,50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,180},{60,62}}</string>
				<key>offset</key>
				<string>{1,52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,116},{62,61}}</string>
				<key>offset</key>
				<string>{2,54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,244},{62,60}}</string>
				<key>offset</key>
				<string>{3,55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,506},{60,57}}</string>
				<key>offset</key>
				<string>{4,57}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/bei000.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,308},{67,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,45}</string>
			</dict>
			<key>props/teatime/bei001.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,372},{67,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,45}</string>
			</dict>
			<key>props/teatime/bei002.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,180},{67,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,45}</string>
			</dict>
			<key>props/teatime/bei003.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,249},{67,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,45}</string>
			</dict>
			<key>props/teatime/bei004.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,296},{67,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,45}</string>
			</dict>
			<key>props/teatime/bei004_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,116},{67,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,45}</string>
			</dict>
			<key>props/teatime/hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{79,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,113}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist-teatime.png</string>
			<key>realTextureFileName</key>
			<string>Plist-teatime.png</string>
			<key>size</key>
			<string>{227,567}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>227</integer>
			<key>height</key>
			<integer>567</integer>
		</dict>
	</dict>
</plist>