<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>props/teatime/001.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,63},{10,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,7}</string>
			</dict>
			<key>props/teatime/002.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,196},{14,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,13}</string>
			</dict>
			<key>props/teatime/003.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,176},{15,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,20}</string>
			</dict>
			<key>props/teatime/004.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,126},{15,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,25}</string>
			</dict>
			<key>props/teatime/bei000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{37,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,34}</string>
			</dict>
			<key>props/teatime/bei001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,160},{37,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,34}</string>
			</dict>
			<key>props/teatime/bei002.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,126},{37,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,34}</string>
			</dict>
			<key>props/teatime/bei003.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,160},{37,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,34}</string>
			</dict>
			<key>props/teatime/bei004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{37,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,34}</string>
			</dict>
			<key>props/teatime/hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{95,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,63}</string>
			</dict>
			<key>props/teatime/bei004_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,107},{37,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,34}</string>
			</dict>
			<key>props/teatime/004_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,151},{15,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,25}</string>
			</dict>
			<key>props/teatime/16_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,98},{16,34}}</string>
				<key>offset</key>
				<string>{-5,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,106},{20,39}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,141},{21,42}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,107},{22,44}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,126},{23,45}}</string>
				<key>offset</key>
				<string>{-5,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,168},{24,47}}</string>
				<key>offset</key>
				<string>{-5,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,119},{26,49}}</string>
				<key>offset</key>
				<string>{-5,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,98},{28,51}}</string>
				<key>offset</key>
				<string>{-5,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,97},{29,53}}</string>
				<key>offset</key>
				<string>{-6,21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,63},{31,56}}</string>
				<key>offset</key>
				<string>{-6,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{34,57}}</string>
				<key>offset</key>
				<string>{-5,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,61},{37,58}}</string>
				<key>offset</key>
				<string>{-5,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,104},{41,60}}</string>
				<key>offset</key>
				<string>{-5,31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,60},{44,60}}</string>
				<key>offset</key>
				<string>{-4,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,60},{47,63}}</string>
				<key>offset</key>
				<string>{-4,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,58},{48,62}}</string>
				<key>offset</key>
				<string>{-3,39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,57},{49,63}}</string>
				<key>offset</key>
				<string>{-3,42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,55},{53,64}}</string>
				<key>offset</key>
				<string>{-3,44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,0},{55,64}}</string>
				<key>offset</key>
				<string>{-2,46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,0},{57,64}}</string>
				<key>offset</key>
				<string>{-1,48}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{58,64}}</string>
				<key>offset</key>
				<string>{0,50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,0},{60,62}}</string>
				<key>offset</key>
				<string>{1,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,0},{62,61}}</string>
				<key>offset</key>
				<string>{2,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,0},{62,60}}</string>
				<key>offset</key>
				<string>{3,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>props/teatime/16_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,0},{60,57}}</string>
				<key>offset</key>
				<string>{4,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>teatime.png</string>
			<key>realTextureFileName</key>
			<string>teatime.png</string>
			<key>size</key>
			<string>{533,228}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>533</integer>
			<key>height</key>
			<integer>228</integer>
		</dict>
	</dict>
</plist>