<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>props/water/001.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,354},{116,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,100}</string>
			</dict>
			<key>props/water/002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{209,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,200}</string>
			</dict>
			<key>props/water/bb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,493},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>props/water/liu.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,75}</string>
			</dict>
			<key>props/water/woodb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,354},{137,136}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,137}</string>
			</dict>
			<key>props/water/woodw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,212},{140,137}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,137}</string>
			</dict>
			<key>props/water/single.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,212},{91,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>water.png</string>
			<key>realTextureFileName</key>
			<string>water.png</string>
			<key>size</key>
			<string>{279,510}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>279</integer>
			<key>height</key>
			<integer>510</integer>
		</dict>
	</dict>
</plist>