<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/gamervsb/tu/light_ou.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1},{100,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,103}</string>
			</dict>
			<key>Animation/gamervsb/tu/rk_outo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{132,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,93}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist-game-rvsb.png</string>
			<key>realTextureFileName</key>
			<string>Plist-game-rvsb.png</string>
			<key>size</key>
			<string>{239,102}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>239</integer>
			<key>height</key>
			<integer>102</integer>
		</dict>
	</dict>
</plist>