<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ganesh_fa_slot_cai.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,98},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>ganesh_fa_slot_cai_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1},{85,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,95}</string>
			</dict>
			<key>ganesh_fa_slot_drum.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1},{143,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,141}</string>
			</dict>
			<key>ganesh_fa_slot_drum_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,326},{143,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,151}</string>
			</dict>
			<key>ganesh_fa_slot_fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,204},{80,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,99}</string>
			</dict>
			<key>ganesh_fa_slot_fa_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,395},{80,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,109}</string>
			</dict>
			<key>ganesh_fa_slot_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,176},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>
			<key>ganesh_fa_slot_free_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,344},{147,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,157}</string>
			</dict>
			<key>ganesh_fa_slot_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,1},{143,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,141}</string>
			</dict>
			<key>ganesh_fa_slot_gold_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,176},{143,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,151}</string>
			</dict>
			<key>ganesh_fa_slot_gong.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,395},{107,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,85}</string>
			</dict>
			<key>ganesh_fa_slot_gong_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{107,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,95}</string>
			</dict>
			<key>ganesh_fa_slot_gourd.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,146},{143,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,141}</string>
			</dict>
			<key>ganesh_fa_slot_gourd_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,321},{143,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,151}</string>
			</dict>
			<key>ganesh_fa_slot_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,110},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>ganesh_fa_slot_money_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,291},{92,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,102}</string>
			</dict>
			<key>ganesh_fa_slot_ruyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,344},{166,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,155}</string>
			</dict>
			<key>ganesh_fa_slot_ruyi_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,176},{166,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,165}</string>
			</dict>
			<key>ganesh_fa_slot_wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,1},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>
			<key>ganesh_fa_slot_wild_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{173,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,161}</string>
			</dict>
			<key>ganesh_fa_slot_wild01.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,426},{75,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,62}</string>
			</dict>
			<key>ganesh_fa_slot_wild01_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,74},{75,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,69}</string>
			</dict>
			<key>ganesh_fa_slot_wild02.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,345},{76,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,61}</string>
			</dict>
			<key>ganesh_fa_slot_wild02_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,185},{76,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,69}</string>
			</dict>
			<key>ganesh_fa_slot_wild03.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,426},{77,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,62}</string>
			</dict>
			<key>ganesh_fa_slot_wild03_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,266},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>ganesh_fa_slot_wild04.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,345},{79,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,63}</string>
			</dict>
			<key>ganesh_fa_slot_wild04_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,185},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>
			<key>ganesh_fa_slot_xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,286},{71,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,91}</string>
			</dict>
			<key>ganesh_fa_slot_xi_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,1},{71,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,101}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ganesh_fa_slot_items.png</string>
			<key>realTextureFileName</key>
			<string>ganesh_fa_slot_items.png</string>
			<key>size</key>
			<string>{893,511}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>893</integer>
			<key>height</key>
			<integer>511</integer>
		</dict>
	</dict>
</plist>