<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/slotFruit/Animation/fruit_element_apple/fruit_element_apple1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,130},{124,116}}</string>
				<key>offset</key>
				<string>{13,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>game/slotFruit/Animation/fruit_element_apple/fruit_element_apple2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{125,127}}</string>
				<key>offset</key>
				<string>{-9,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>game/slotFruit/Animation/fruit_element_apple/fruit_element_apple3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,256},{106,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_apple.png</string>
			<key>realTextureFileName</key>
			<string>Plist_apple.png</string>
			<key>size</key>
			<string>{127,363}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>127</integer>
			<key>height</key>
			<integer>363</integer>
		</dict>
	</dict>
</plist>