<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/sevenUpDown/chip/chip_0.1.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,375},{42,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>game/sevenUpDown/chip/chip_0.2.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,281},{43,37}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>game/sevenUpDown/chip/chip_0.5.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,328},{43,37}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>game/sevenUpDown/chip/chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,125},{49,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>game/sevenUpDown/chip/chip_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,2},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>game/sevenUpDown/chip/chip_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,452},{55,51}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>game/sevenUpDown/chip/chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,178},{48,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>game/sevenUpDown/chip/chip_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,73},{54,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>game/sevenUpDown/chip/chip_200.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,448},{54,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>game/sevenUpDown/chip/chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,230},{47,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>game/sevenUpDown/chip/chip_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,2},{53,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>game/sevenUpDown/chip/chip_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,452},{55,51}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>game/sevenUpDown/tza_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
			<key>game/sevenUpDown/tza_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,77},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
			<key>game/sevenUpDown/tza_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,152},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
			<key>game/sevenUpDown/tza_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,227},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
			<key>game/sevenUpDown/tza_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,302},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
			<key>game/sevenUpDown/tza_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,377},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
			<key>game/sevenUpDown/tzb_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,2},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
			<key>game/sevenUpDown/tzb_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,73},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
			<key>game/sevenUpDown/tzb_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,148},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
			<key>game/sevenUpDown/tzb_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,223},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
			<key>game/sevenUpDown/tzb_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,298},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
			<key>game/sevenUpDown/tzb_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,373},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>updownchip.png</string>
			<key>realTextureFileName</key>
			<string>updownchip.png</string>
			<key>size</key>
			<string>{250,509}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>250</integer>
			<key>height</key>
			<integer>509</integer>
		</dict>
	</dict>
</plist>