<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_suipian01.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,113},{28,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,24}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_suipian02.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,162},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,23}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_suipian03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,113},{17,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,13}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_suipian04.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,139},{29,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,21}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_suipian05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,85},{11,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,14}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_suipian07.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1},{53,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,37}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_suipian08.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,85},{26,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,31}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_suipian09.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,56},{37,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,27}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_tx_baofa01.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,631},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,136}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_tx_baofa02.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,347},{332,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,313}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_tx01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{457,457}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{475,476}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_tx02.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,978},{154,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,140}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_tx03.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,460},{169,121}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,122}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_tx04.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,522},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_tx05.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,579},{48,48}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_101_sm_txk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,818},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/ani_saima_start_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,769},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/horse1.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,322},{205,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,52}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/horse2.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,529},{205,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,52}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/horse3.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,559},{205,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,52}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/horse4.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,559},{205,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,52}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/horse5.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,611},{205,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,52}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/horse6.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,736},{205,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,52}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/js_chipang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,460},{175,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,173}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/js_chipang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,635},{175,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,173}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/js_ui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,1},{344,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{344,347}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/js_ui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,322},{287,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,54}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/kama_ui.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1},{556,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{556,95}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/majs_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{318,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{318,236}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/matx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,769},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/matx_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,929},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/matx_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,766},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/matx_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,662},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/matx_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,818},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/matx_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,822},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/t_winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1},{319,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,70}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/tb_daosui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,635},{60,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,87}</string>
			</dict>
			<key>Animation/pmjiesuan/tu/tb_daosui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,460},{60,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,87}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist-pmjs.png</string>
			<key>realTextureFileName</key>
			<string>Plist-pmjs.png</string>
			<key>size</key>
			<string>{1023,1180}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1180</integer>
		</dict>
	</dict>
</plist>