<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/winner/tu/chips/chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{85,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,97}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_chips.png</string>
			<key>realTextureFileName</key>
			<string>Plist_chips.png</string>
			<key>size</key>
			<string>{85,97}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>97</integer>
		</dict>
	</dict>
</plist>