<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/winner/tu/head/head_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Animation/winner/tu/head/head_light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Animation/winner/tu/head/head_light4.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{98,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>Animation/winner/tu/head/name_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_head.png</string>
			<key>realTextureFileName</key>
			<string>Plist_head.png</string>
			<key>size</key>
			<string>{656,128}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>656</integer>
			<key>height</key>
			<integer>128</integer>
		</dict>
	</dict>
</plist>