<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>carnival_fa_slot_cai.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,435},{126,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,116}</string>
			</dict>
			<key>carnival_fa_slot_cai_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,308},{125,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,119}</string>
			</dict>
			<key>carnival_fa_slot_drum.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,505},{140,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,126}</string>
			</dict>
			<key>carnival_fa_slot_drum_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,363},{140,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,132}</string>
			</dict>
			<key>carnival_fa_slot_fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,1},{83,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,82}</string>
			</dict>
			<key>carnival_fa_slot_fa_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,102},{83,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,92}</string>
			</dict>
			<key>carnival_fa_slot_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,363},{177,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,118}</string>
			</dict>
			<key>carnival_fa_slot_free_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,545},{177,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,127}</string>
			</dict>
			<key>carnival_fa_slot_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,176},{130,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,124}</string>
			</dict>
			<key>carnival_fa_slot_gold_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,647},{130,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,127}</string>
			</dict>
			<key>carnival_fa_slot_gong.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,1},{85,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,100}</string>
			</dict>
			<key>carnival_fa_slot_gong_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,138},{85,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,108}</string>
			</dict>
			<key>carnival_fa_slot_gourd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,879},{164,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,144}</string>
			</dict>
			<key>carnival_fa_slot_gourd_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,713},{164,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,152}</string>
			</dict>
			<key>carnival_fa_slot_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1},{135,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,100}</string>
			</dict>
			<key>carnival_fa_slot_money_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1},{135,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,102}</string>
			</dict>
			<key>carnival_fa_slot_ruyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,370},{162,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,173}</string>
			</dict>
			<key>carnival_fa_slot_ruyi_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{162,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,182}</string>
			</dict>
			<key>carnival_fa_slot_wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1},{160,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,174}</string>
			</dict>
			<key>carnival_fa_slot_wild2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,545},{158,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,166}</string>
			</dict>
			<key>carnival_fa_slot_wild2_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,185},{158,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,176}</string>
			</dict>
			<key>carnival_fa_slot_wild3.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,834},{154,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,140}</string>
			</dict>
			<key>carnival_fa_slot_wild3_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,873},{154,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,149}</string>
			</dict>
			<key>carnival_fa_slot_wild4.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,674},{158,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,138}</string>
			</dict>
			<key>carnival_fa_slot_wild4_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,713},{158,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,147}</string>
			</dict>
			<key>carnival_fa_slot_wild_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,185},{160,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,183}</string>
			</dict>
			<key>carnival_fa_slot_xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,563},{82,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,84}</string>
			</dict>
			<key>carnival_fa_slot_xi_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,563},{82,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,93}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>carnival_fa_slot_items.png</string>
			<key>realTextureFileName</key>
			<string>carnival_fa_slot_items.png</string>
			<key>size</key>
			<string>{703,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>703</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>