<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/potlimit/tu/PotLimt.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,1},{260,76}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,90}</string>
			</dict>
			<key>Animation/potlimit/tu/PotLimt_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{759,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{759,132}</string>
			</dict>
			<key>Animation/potlimit/tu/PotLimt_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,79},{260,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,76}</string>
			</dict>
			<key>Animation/potlimit/tu/PotLimt-jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,135},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
			<key>Animation/potlimit/tu/PotLimt-jiantou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,135},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist-potlimit.png</string>
			<key>realTextureFileName</key>
			<string>Plist-potlimit.png</string>
			<key>size</key>
			<string>{1023,174}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>174</integer>
		</dict>
	</dict>
</plist>