<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pubg_fa_slot_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,153},{150,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,133}</string>
			</dict>
			<key>pubg_fa_slot_bonus_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,1},{150,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,143}</string>
			</dict>
			<key>pubg_fa_slot_cai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,555},{67,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,105}</string>
			</dict>
			<key>pubg_fa_slot_cai_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,503},{67,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,115}</string>
			</dict>
			<key>pubg_fa_slot_drum.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,423},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>pubg_fa_slot_drum_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,288},{130,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,142}</string>
			</dict>
			<key>pubg_fa_slot_fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,685},{55,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,94}</string>
			</dict>
			<key>pubg_fa_slot_fa_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,396},{54,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,105}</string>
			</dict>
			<key>pubg_fa_slot_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,146},{151,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,140}</string>
			</dict>
			<key>pubg_fa_slot_free_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{151,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,150}</string>
			</dict>
			<key>pubg_fa_slot_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,420},{133,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,131}</string>
			</dict>
			<key>pubg_fa_slot_gold_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,281},{133,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,143}</string>
			</dict>
			<key>pubg_fa_slot_gong.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,685},{55,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,101}</string>
			</dict>
			<key>pubg_fa_slot_gong_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,281},{55,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,113}</string>
			</dict>
			<key>pubg_fa_slot_gourd.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,548},{133,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,131}</string>
			</dict>
			<key>pubg_fa_slot_gourd_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,288},{133,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,143}</string>
			</dict>
			<key>pubg_fa_slot_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,624},{67,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,100}</string>
			</dict>
			<key>pubg_fa_slot_money_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,733},{67,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,111}</string>
			</dict>
			<key>pubg_fa_slot_ruyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,553},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>pubg_fa_slot_ruyi_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,416},{130,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,142}</string>
			</dict>
			<key>pubg_fa_slot_wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,146},{150,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,133}</string>
			</dict>
			<key>pubg_fa_slot_wild_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1},{150,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,143}</string>
			</dict>
			<key>pubg_fa_slot_xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,681},{95,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,100}</string>
			</dict>
			<key>pubg_fa_slot_xi_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,620},{95,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,111}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pubg_fa_slot_items.png</string>
			<key>realTextureFileName</key>
			<string>pubg_fa_slot_items.png</string>
			<key>size</key>
			<string>{512,801}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>801</integer>
		</dict>
	</dict>
</plist>