<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>XBiaoQing/jh/jjinghu0.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,41},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,29}</string>
			</dict>
			<key>XBiaoQing/jh/jjinghu01.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,41},{18,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,6}</string>
			</dict>
			<key>XBiaoQing/jh/jjinghu02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{78,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,41}</string>
			</dict>
			<key>XBiaoQing/jh/jjinghu03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,41},{31,35}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,39}</string>
			</dict>
			<key>XBiaoQing/jh/jjinghu04.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,0},{49,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jh.png</string>
			<key>realTextureFileName</key>
			<string>jh.png</string>
			<key>size</key>
			<string>{132,72}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>72</integer>
		</dict>
	</dict>
</plist>